<h1>Videos#show</h1>
<p>Find me in app/views/videos/show.html.erb</p>
<div id="video-show-container" class="video-show-container">
  <div id="video-player" class="video-player"></div>
  <label id="video-show-title" class="video-show-title"><label>
  <label id="video-show-concurrentViewers" class="video-show-concurrentViewers"><label>
  <label id="video-show-channelTitle" class="video-show-channelTitle"><label>
</div>
<script>fetchVideo()</script>
<script>fetchVideoDetails()</script>

